{# Purpose: Jinja 2 template to display device summary report #}
{# The template is passed the dict allhosts (hostvars) #}

{% for host,facts in allhosts|dictsort %}
###############################################################################
{{facts.napalm_facts.fqdn}}

Uptime        : {{facts.napalm_facts.uptime/60/60/24}} days
Available Ram : {{facts.napalm_environment.memory.available_ram}}
Used Ram      : {{facts.napalm_environment.memory.used_ram}}
OS            : {{facts.napalm_facts.os_version}}

{# Print list of interfaces if they exist #}
{% if facts.napalm_facts.interface_list is defined %}
Interfaces :
  {% for interface in facts.napalm_facts.interface_list %}
{{interface}}
  {% endfor %}
{% endif %}

{% endfor %}
